.dropDownProfile {
  position: absolute;
  top: 7rem;
  right: 6.9rem;
  width: 7rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid gray;
}
.dropDownProfile::before{
  position: absolute;
  content: '';
  top: -.5rem;
  left: 1.4rem;
  width: 15px;
  height: 15px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid gray;
  border-top: 1px solid gray;
}